<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SchoolBase</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/firstpage.css">

    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet"/>
    <link href="/stylesheets/flexslider.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script href="/javascripts/bootstrap-js/bootstrap.js" ></script>

    <script src="/javascripts/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/javascripts/bootstrap.js"></script>
    <!--  Flexslider Scripts -->
    <script src="/javascripts/jquery.flexslider.js"></script>
    <!--  Scrolling Reveal Script -->
    <script src="/javascripts/scrollReveal.js"></script>
    <!--  Scroll Scripts -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <!--  Custom Scripts -->
    <script src="/javascripts/custom.js"></script>

</head>
<body class="general-container">

<div class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse" id="menu">
    <div class="container">
        <a href="/"><img class="logo-custom" src="/images/schoolbaselogo.png" alt="school logo" /></a>
        <div class="col">
            <a href="/"><h1 class="col-md-8" style="color: white; padding-top: 20px; padding-left: 30%" href="/">SCHOOL BASE</h1></a>
            <div class="header-homepage">
                <ul class=" navbar-nav flex-md-row" style="padding-left: 60px; justify-content: flex-end;">
                    <li><a href="add-student.html">ADD A STUDENT</a></li>
                    <li><a href="all-students.html">VIEW ALL STUDENTS</a></li>
                    <li><a href="search-student.html">SEARCH FOR A STUDENT</a></li>
                    <li><a href="">LOG OUT</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="container" style="margin-top: 10px">
        <marquee><h2>Welcome to SchoolBase</h2></marquee><br>
        <h4>What can you do with this site?</h4>
        <ul>
            <li>Add a student to a database</li>
            <li>Update any student information on the database</li>
            <li>Have an overview of all students on the database</li>
            <li>View detailed information about a student</li>
            <li>Delete information about a student from the datbase</li>
        </ul>

    </div>
</div>
</body>

</html>